<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914106341594-8i7uebk9tsdjp597pomfto389m92l2lq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914106341594-8i7uebk9tsdjp597pomfto389m92l2lq</string>
	<key>API_KEY</key>
	<string>AIzaSyALY_L-zpaYPVJUogq5SJHsv_9BQ6Kw0Rg</string>
	<key>GCM_SENDER_ID</key>
	<string>914106341594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.edustore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-254d1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-254d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914106341594:ios:39e2185e7e2806b6816de3</string>
</dict>
</plist>